@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

body {
    
    background-color: #5B2386;
}
.law {
    text-align: center;
    color: white;
    font-family: GmarketSansMedium;
    padding-top: 194px;
}
.br {
    display: block;
}
.heading-img {
    width: 564px;
    margin: 0 auto 125px;
}
.heading-clock {
    width: 261px;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.sub-tit {
    max-width: 486px;
    margin: 0 auto 78px;
}
.txt-desc {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    width: 475px;
    margin: 0 auto 102px;
}
.txt-desc .strong-desc {
    font-size: 24px;
    font-weight: bold;
}
.txt-desc::before, .txt-desc::after {
    position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 37px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -16px;
}
.txt-desc::before {
    left: 0;
    background-image: url("./images/left.png");
}
.txt-desc::after {
    right: 0;
    background-image: url("./images/right.png");
}

.txt-plan {
    font-size: 24px;
    line-height: 24px;
}
.inp-wannabe, .inp-time {
    width: 228px;
    height: 57px;
    border: none;
    font-size: 24px;
    border-radius: 7px;
    padding-left: 20px;
    margin-bottom: 27px;
}
input::placeholder {
    color: #BABCBE;
    font-family: GmarketSansMedium;
}
.inp-time {
    margin-bottom: 115px;
}

button {
    border: none;
    color: #5B2386;
    font-size: 24px;
    font-family: GmarketSansBold;
    font-weight: 700;
    border-radius: 56px;
    cursor: pointer;
}
.btn-result {
    background-color: #FCEE21;
    width: 565px;
    height: 66px;
    position: relative;
    margin-bottom: 147px;
}
.btn-result::after {
    content: "";
    display: block;
    width: 64px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right: -65px;
    top: 12px;
    background-image: url(./images/Frame\ 11.png);
}

.txt-result {
    font-size: 24px;
    line-height: 80px;
    margin-bottom: 127px;
}
.result-strong {
    font-size: 72px;
    font-weight: 700;
}
.btn-go {
    background-color: #FCEE21;
    width: 356px;
    height: 66px;
    margin-right: 18px;
    margin-bottom: 130px;
}
.btn-share {
    background-color: white;
    width: 230px;
    height: 66px;
}

.weniv-logo {
    width: 125px;
    height: 25px;
    margin: 0 auto;
}
.copyright {
    font-size: 12px;
    line-height: 18px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    margin: 20px 0 116px;
}

.modal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    width: 700px;
    height: 700px;
    border-radius: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
}
.close-modal {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
}
.modal-fighting {
    width: 396px;
    margin: 100px auto 4px;
}
.modal-dream {
    width: 233px;
    margin: 0 auto 29px;
}
.modal-licat {
    width: 341px;
    margin: 0 auto 74px;
}
.window-close {
    background-color: #FCEE21;
    width: 508px;
    height: 66px;
    font-size: 24px;
    display: block;
    margin: 0 auto;
}
.result {
    display: none;
}



@media screen and (max-width: 650px){
    .law {
        padding-top: 74px;
    }
    .max360br {
        display: block;
    }
    .heading-img {
        width: 400px;
        height: 79px;
    }
    .heading-clock {
    top: 37px;
    width: 156px;
    }
    .sub-tit {
        width: 400px;
    }
    .txt-desc {
        font-size: 18px;
        width: 375px;
    }
    .txt-desc .strong-desc {
        font-size: 20px;
    }
    .txt-desc::before, .txt-desc::after {
        width: 22px;
        height: 20px;
        top: 25%;
    }
    .txt-plan {
        font-size: 18px;
    }
    .inp-wannabe, .inp-time {
        width: 150px;
        height: 40px;
        margin-bottom: 20px;
    }
    .inp-time {
        margin-top: 15px;
        margin-bottom: 60px;
    }
    input::placeholder {
        font-weight: 400;
        font-size: 14px;
    }
    .btn-result {
        width: 321px;
        height: 82px;
        font-size: 18px;
        border-radius: 13px;
    }
    .btn-result::after {
        width: 43px;
        height: 48px;
        right: -45px;
        top: 37px;
    }
    .txt-result {
        font-size: 20px;
        line-height: 60px;
        font-weight: 400;
    }
    .result-strong {
        font-size: 34px;
    }
    .btn-go {
        width: 250px;
        height: 48px;
        font-size: 18px;
    }
    .btn-share {
        width: 155px;
        height: 48px;
        font-size: 18px;
    }

    .weniv-logo {
        width: 136px;
        height: 27px;
    }
    .copyright {
        font-size: 13px;
    }
    .modal {
        width: 410px;
        height: 560px;
        border-radius: 30px;
    }
    .close-modal {
        right: 20px;
        top: 20px;
        width: 25px;
    }
    .modal-fighting {
        width: 250px;
        margin: 55px auto 8px;
    }
    .modal-dream {
        width: 160px;
        margin: 0 auto 45px;
    }
    .modal-licat {
        width: 300px;
        margin: 0 auto 50px;
    }
    .window-close {
        width: 374px;
        height: 55px;
        font-size: 18px;
    }
}
@media screen and (max-width: 400px){
    .law {
        padding-top: 74px;
    }
    .max360br {
        display: block;
    }
    .heading-img {
        width: 267px;
        height: 53px;
    }
    .heading-clock {
    top: 50px;
    width: 106px;
    }
    .sub-tit {
        width: 297px;
    }
    .txt-desc {
        font-size: 14px;
        width: 292px;
    }
    .txt-desc .strong-desc {
        font-size: 16px;
    }
    .txt-desc::before, .txt-desc::after {
        width: 22px;
        height: 20px;
        top: 20%;
    }
    .txt-plan {
        font-size: 14px;
    }
    .inp-wannabe, .inp-time {
        width: 130px;
        height: 37px;
        margin-bottom: 20px;
    }
    .inp-time {
        margin-top: 15px;
        margin-bottom: 49px;
    }
    input::placeholder {
        font-weight: 400;
        font-size: 14px;
    }
    .btn-result {
        width: 241px;
        height: 68px;
        font-size: 14px;
        border-radius: 13px;
    }
    .btn-result::after {
        width: 43px;
        height: 48px;
        
        right: -45px;
        top: 30px;
    }
    .txt-result {
        font-size: 14px;
        line-height: 40px;
        font-weight: 400;
    }
    .result-strong {
        font-size: 24px;
    }
    .btn-go {
        width: 186px;
        height: 40px;
        font-size: 14px;
        margin-right: 5px;
    }
    .btn-share {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }

    .weniv-logo {
        width: 91px;
        height: 18px;
    }
    .copyright {
        font-size: 9px;
    }

    .modal {
        width: 320px;
        height: 450px;
        border-radius: 30px;
    }
    .close-modal {
        right:15px;
        top: 15px;
        width: 20px;
    }
    .modal-fighting {
        width: 200px;
        margin-top: 45px;
    }
    .modal-dream {
        width: 130px;
        margin: 0 auto 35px;
    }
    .modal-licat {
        width: 250px;
        margin: 0 auto 40px;
    }
    .window-close {
        width: 280px;
        height: 40px;
        font-size: 14px;
    }
}